---
openapi: 3.1.0
info:
  description: Example API spec
  version: v1
  title: Example API
  contact:
    name: Example Team
    email: example@example-team.com
    url: https://www.example-team.com/
  license:
    name: Example License
    url: https://www.example-license.com/
tags:
  - name: ExampleCall
    description: Example call
servers:
  - url: https://example-server.com:1234/api/v1

paths:
  /example-parents:
    $ref: paths/v1/example-parents.yaml
  /example-parents/{id}:
    $ref: paths/v1/example-parents-{id}.yaml
  /example-parents/{id}/example-childs:
    $ref: paths/v1/example-parents-{id}-example-childs.yaml
  /example-parents/{id}/example-childs-with-pets:
    $ref: paths/v1/example-parents-{id}-example-childs-with-pets.yaml

components:
  schemas:
    ExampleChildModel:
      $ref: components/schemas/ExampleChildModel.yaml

    ExampleChildWithCatModel:
      $ref: components/schemas/ExampleChildWithCatModel.yaml
    ExampleChildWithDogModel:
      $ref: components/schemas/ExampleChildWithDogModel.yaml
    ExampleChildWithPetModel:
      oneOf:
        - $ref: '#/components/schemas/ExampleChildWithCatModel'
        - $ref: '#/components/schemas/ExampleChildWithDogModel'
      discriminator:
        propertyName: ModelType
        mapping:
          ExampleChildWithCat: '#/components/schemas/ExampleChildWithCatModel'
          ExampleChildWithDog: '#/components/schemas/ExampleChildWithDogModel'

    ExampleParentModel:
      $ref: components/schemas/ExampleParentModel.yaml

  parameters:
    example-parent-id:
      $ref: components/parameters/path/example-parent-id.yaml
    limit:
      $ref: components/parameters/query/limit.yaml

  responses:
    401Unauthorized:
      $ref: components/responses/401Unauthorized.yaml

  securitySchemes:
    BearerAuth:
      type: http
      description: Bearer token authentication.
      scheme: bearer
